@font-face {
  font-family: "IranYekan";
  src: url("assets/font/IranYekan-100.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "IranYekan";
  src: url("assets/font/IranYekan-200.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "IranYekan";
  src: url("assets/font/IranYekan-300.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "IranYekan";
  src: url("assets/font/IranYekan-400.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "IranYekan";
  src: url("assets/font/IranYekan-500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "IranYekan";
  src: url("assets/font/IranYekan-600.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "IranYekan";
  src: url("assets/font/IranYekan-700.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "IranYekan";
  src: url("assets/font/IranYekan-800.ttf");
  font-weight: 800;
}

:root {
  --gray-900-: #333333;
  --gray-500-: #7f8c8d;
  --gray-400-: #b1b4b4;
  --gray-100-: #e0e0e0;
  --white-600-: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-600-);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.land {
  position: relative;
}

.main {
  direction: ltr;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  width: 1451px;
  height: 824px;
}

.main p {
  position: relative;
  font-family: "IranYekan";
  font-size: 56px;
  font-weight: 300;
  margin-top: 0;
}

.main h1 {
  font-family: "IranYekan";
  font-size: 115px;
  font-weight: 600;
  margin-top: -40px;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  border: none;
  background-color: transparent;
  font-family: "IranYekan";
  font-size: 18px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 16px;
  border: 2px solid var(--gray-900-);
  height: 64px;
  width: 240px;
  color: var(--gray-900-);
  transition: all 0.3s ease;
}

#log-in {
  background-color: var(--gray-900-);
  color: var(--gray-100-);
}

#log-in:hover {
  transform: translateY(-8px);
  background-color: transparent;
  color: var(--gray-900-);
}

#sign-in:hover {
  transform: translateY(-8px);
  background-color: var(--gray-900-);
  color: var(--gray-100-);
}

.btn:active {
  transform: translateY(0);
}

/* Mouse & The Animation */

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.mouse-icon {
  position: absolute;
  left: 50%;
  width: 30px;
  height: 40px;
  animation: float 2s ease-in-out infinite;
}
