.shape {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 150px;
  height: auto;
}

#wtf {
  top: 0;
  left: 0;
}

#wtf-2 {
  top: 36.4%;
  right: 0;
}

#arrow-1 {
  top: 3%;
  right: 1%;
  transform: rotate(90deg);
}

#arrow-2 {
  top: 40%;
  left: 3%;
}

#circles {
  top: 7%;
  left: 70%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

#circles-dark {
  top: 46%;
  left: 40%;
}

#arrow-dark {
  left: 24%;
  top: 80%;
}

#wtf-3 {
  top: 43.5%;
  right: 0;
}
