@import url("fonts.css");

:root {
  --gray-900-: #333333;
  --gray-500-: #7f8c8d;
  --gray-400-: #b1b4b4;
  --gray-100-: #e0e0e0;
  --white-600-: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-600-);
  font-family: "IranYekan", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.land,
.about,
.footer {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.land {
  background-color: var(--white-600-);
}

.about {
  background-color: #f0f0f0;
}

.footer {
  background-color: var(--gray-900-);
  color: var(--gray-100-);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  width: 100%;
  max-width: 1451px;
  padding: 20px;
  z-index: 1;
}

.main p {
  font-family: "IranYekan";
  font-size: 56px;
  font-weight: 300;
  color: var(--gray-900-);
  margin-top: 0;
}

.main h1 {
  font-family: "IranYekan";
  font-size: 115px;
  font-weight: 600;
  color: var(--gray-900-);
  margin-top: -50px;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  border: none;
  background-color: transparent;
  font-family: "IranYekan";
  font-size: 18px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 16px;
  border: 2px solid var(--gray-900-);
  height: 64px;
  width: 240px;
  color: var(--gray-900-);
  transition: all 0.3s ease;
}

#log-in {
  background-color: var(--gray-900-);
  color: var(--gray-100-);
}

#log-in:hover {
  transform: translateY(-8px);
  background-color: transparent;
  color: var(--gray-900-);
}

#sign-in:hover {
  transform: translateY(-8px);
  background-color: var(--gray-900-);
  color: var(--gray-100-);
}

.btn:active {
  transform: translateY(0);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.mouse-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
  width: 30px;
  height: 40px;
  animation: float 2s ease-in-out infinite;
  z-index: 2;
}

.shape {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 150px;
  height: auto;
}

#wtf {
  top: 0;
  left: 0;
}

#wtf-2 {
  top: 27.9%;
  right: 0;
}

#arrow-1 {
  top: 3%;
  right: 1%;
  transform: rotate(90deg);
}

#arrow-2 {
  top: 30%;
  left: 3%;
}

#circles {
  top: 7%;
  left: 70%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
